* {
  scroll-behavior: smooth;
}

body {
  margin: 5px;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.scroll-to-top {
  position: relative;
}

.scroll-icon {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 9999;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 50%;
  transition: 0.7s;
}

.scroll-icon:hover {
  background-color: transparent;
  color: black;
  transition: 0.7s;
}

img {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
